<html>
  <head>
    <title>Index Page</title>
    <meta charset="UTF-8">
    <meta name="description" content="Free online typing game">
    <meta name="keywords" content="Online typing game, typing game">
    <meta name="author" content="Mohak">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"/>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <h1>Welcome to type type type type</h1>
    {% block body %}
    {% endblock body %}
  </body>
</html>